

<div class="container-fluid" style="padding-top: 50px">
	<div class="container" >
	<div class="row">
   		<div class="col-md-8 col-xs-12">
   			 <h2>Top Rated Movies </h2>
   			 <br>

<div infinite-scroll='loadMore()' infinite-scroll-distance='1'>   			     			  
<div class="card-main-box-set" ng-repeat="iteam in topRatedData">
	<div class="row">                
	<div class="col-md-5 car-image-block">
		<a ui-sref="detail({id : iteam.id})" ><img ng-src="{{'http://image.tmdb.org/t/p/w500//'+ iteam.poster_path}}"></a>
	</div><!--car-image-block end here-->
	<div class="col-md-7 card-p-set">
		<h3>{{iteam.title}}</h3>
			
			<hr>
			<div class="row">
				<div class="col-md-6">Date:- {{iteam.release_date}}</div>
				<div class="col-md-6">Vote:- {{iteam.vote_average}}</div>
			</div>
			<hr>
		<p>{{iteam.overview | limitTo:120}}</p>
		
		 <a ui-sref="detail({id : iteam.id})" class="btn btn-outline-danger"> View Datails</a>
		
	</div><!--card-p-set end here-->
          </div>                   
        </div><!--card-main-box-set end here-->
          

	<div class="load-main-box" ng-show="loading">
		<div class="circle-loader">
			<img src="./publics/images/Loading_icon.gif">
		</div>
	</div>  
   			
   		</div><!--col-md-8 col-xs-12 end here-->
   		</div><!--infinite scroll end here-->
   		
   		
   		<div class="col-md-4 d-none d-sm-block">
   			
   			sfsd
   		</div><!--col-md-4 d-none d-sm-block end here-->
   		
   		
   	</div>
    
   
    </div><!--container end here-->
</div><!--container-fluid end here--->
