///************** Modifires and basic 
$float-left:left;
$float-right:right;

$padding-0:0px;
$padding-4:4px;
$padding-8:8px;
$padding-12:12px;
$padding-16:16px;
$padding-20:20px; 
$padding-24:24px;
$padding-32:32px;


$margin-0:0px;
$margin-4:4px;
$margin-8:8px;
$margin-12:12px;
$margin-16:16px;
$margin-20:20px;
$margin-24:24px;
$margin-32:32px;

$margin-auto:0px auto;

$border-radius-2:2px;
$border-radius-4:4px;
$border-radius-50:50%;

$border-red:1px #dc4541 solid;
$border-grey:1px #dcdcdc solid;
$border-none:none;

$box-shadow:0px 0px 4px #dcdcdc;

$display-none:none;
$display-block:block;
$display-in-block:inline-block;
$display-flex:flex;
$overflow-hidden:hidden;


$visibility-hid:hidden;
$visibility-vis:visible;

$position-relative:relative;
$position-absolute:absolute;
$position-static:static;
$z-index-0:0px;
$z-index-10:10;
$z-index-20:20;
$z-index-50:50px;
$z-index-100:100px;
$left:0px;
$right:0px;
$bottom:0px;
$top:0px;

$inherit:inherit;

